<p class="back-link"><%= link_to "Back", products_path %></p>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <section class="product-info">
    <% cache @product do %>
      <h1><%= @product.name %></h1>
      <%= @product.description %>
    <% end %>

    <%= render "inventory", product: @product %>

    <% if authenticated? %>
    <div class="product__actions">
      <%= link_to "Edit", edit_product_path(@product), class: "product__actions_btn" %>
      <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "product__actions_btn_delete" %>
    </div>
    <% end %>
  </section>
</section>
